h1 {
    font-family: cursive;
    font-size: 60px;
    text-align: center;
    color: #433408;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-image: url("../images/sunbeam.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
}
#quote {
    background-color: beige;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: auto;
    border: 10px solid bisque;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding-top: 3%;
    padding-bottom: 3%;
}
#quoteText {
    font-size: larger;
    display: inline-block;
    vertical-align: middle;
    line-height: 22px;
}
#author {
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: auto;
    border: 8px solid burlywood;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
#authorText {
    font-size: large;
}
.quoteForm {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: auto;
}
.smallPrint {
    font-size: x-small;
    background-color: darkgreen;
    color: white;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    vertical-align: text-bottom;
}
